name: Test

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_course_definition:
    # TODO: Will re-use main after 'https://github.com/codecrafters-io/course-sdk/pull/70' has been merged
    uses: codecrafters-io/course-sdk/.github/workflows/test-course-definition.yml@upgrade-rust-tools-version
    with:
      sdkRef: upgrade-rust-tools-version
    permissions:
      contents: read
      checks: write
      pull-requests: write
    secrets: inherit
