name: Test

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_course_definition:
    env:
      OPENROUTER_BASE_URL: ${{ vars.OPENROUTER_BASE_URL }}
      OPENROUTER_API_KEY: ${{ vars.OPENROUTER_API_KEY }}

    uses: codecrafters-io/course-sdk/.github/workflows/test-course-definition.yml@main
    with:
      sdkRef: main
    permissions:
      contents: read
      checks: write
      pull-requests: write
    secrets: inherit
