name: Test

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_course_definition:
    uses: codecrafters-io/course-sdk/.github/workflows/test-course-definition.yml@executable-memory-limit
    with:
      sdkRef: executable-memory-limit
    permissions:
      contents: read
      checks: write
      pull-requests: write
    secrets: inherit
